body
{
	background-color: #DDDDDD;
	font-family: sans-serif;
	overflow: hidden;
}

#content
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

#wrapper
{
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
}

#canvas
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	/*background-color: green;*/
}
